<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8"/>
	<title>Imagine Camping e Eventos | Acomodacoes </title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/normalizecss.css')}}">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/estilo.css')}}">
</head>
<body>
	<div class="header">
		<div class="linha">
			<header>
				<div class="coluna col4">
					<a href="/">
					<img src="../static/img/imaginelogo.jpg" class="logo"></a>
				</div>	
				<div class="coluna col8">	
					<nav>
						<ul class="menu inline sem-marcador">
							<li><a href="/">HOME</a></li>
							<li><a href="eventos">Eventos</a></li>
							<li><a href="estrutura">Estrutura</a></li>
							<li><a href="sobre">Sobre</a> </li>
							<li><a href="contato">contato</a></li>
						</ul>
					</nav>
				</div>	
			</header>
		</div>	
	</div>	
	<div class="linha">
		<section>
			<div class="coluna col4 sidebar">
				<h3>Nossa Estrutura!</h3>
				<img src="static/img/estacionamento.jpg" alt="">
				<ul>
					<li>Locais para barracas</li>
					<li>Locais para trailers e motorhomes</li>
					<li>Quartos</li>
					<li>Alojamentos (Acapamentos)</li>
					<li>Piscinas</li>
					<li>Campo de Futebol</li>
					<li>Restaurante</li>
				</ul>
			</div>
			<div class="coluna col8">
				<h2>Locais para Barracas</h2>
				<p>Bom como quase todo Camping o pessoal das Barracas, ocupam quase todos os espaços possíveis, porém no Imagine o pessoal da barraca tem um lugar especial, o nosso famoso plato principal, o lugar com a vista mais bela do por do sol, plano, na parte central do camping, nosso plato é o queridinho pelo pessoal que vai de barraca, para não falar que estamos mentindo segue uma foto do pessoal disputando um espacinho no querido plato hahaha. </p>
				<img src="static/img/barracas.jpg">
				<h2>Locais para trailers e motorhomes</h2>
				<p>Para nossos amigos gigantes motorizados, temos um espacinho reservado, seria o nosso estacionamento, com vagas niveladas, entregando a todos eles nosso suporte com água e energia para que eles se sintam a vontade, local bem amplo de facil manobra, a maior parte coberta por pedras para que evitem de atolar, ou qualquer impecilho que possa danifica-los ;D.... O pessoal sempre procura disputar as vagas próxima a grande mangueira para poder colocar as cadeiras na sombra em um fim de tarde</p>
				<img src="static/img/estacionamento.jpg">
				<h2>sites corporativos</h2>
				<p>haihihisudsihdsiudsuhi iusd diupdlsa hdioua s sdiasld;ad uhdi usu ;3u[oewq fo[ f[e f iew</p>
				<h2>lojas virtuais</h2>
				<p>haihihisudsihdsiudsuhi iusd diupdlsa hdioua s sdiasld;ad uhdi usu ;3u[oewq fo[ f[e f iew</p>
				<h2>email marketing</h2>
				<p>haihihisudsihdsiudsuhi iusd diupdlsa hdioua s sdiasld;ad uhdi usu ;3u[oewq fo[ f[e f iew</p>
				<h2>marketing de conteudo</h2>
				<p>haihihisudsihdsiudsuhi iusd diupdlsa hdioua s sdiasld;ad uhdi usu ;3u[oewq fo[ f[e f iew</p>
				<h2>consultoria estrategica</h2>
				<p>haihihisudsihdsiudsuhi iusd diupdlsa hdioua s sdiasld;ad uhdi usu ;3u[oewq fo[ f[e f iew</p>
				
			</div>
		</section>
	</div>	
	<div class="conteudo-extra">
		<div class="linha">
			<div class="coluna col7">
				<section>
					<h2>Como conquistar clientes na era digital</h2>
					<p>oiodshaohdsohoshsosihos</p>
					<p>odisjsopdjsaojs</p>
					<p>sjsoidjsoijsoiajsiosjsdosjo</p>
				</section>
			</div>
			<div class="coluna col5">
				<h2>Ultima noticia</h2>
				<ul class="sem-marcador sem-padding noticias">
					<li>
						<img src="img/thumb-pequena.jpg" alt="">
						<h4>titulo da noticia</h4>
						<p>iodsaoihsduihs</p>
					</li>
					<li>
						<img src="img/thumb-pequena.jpg" alt="">
						<h4>titulo da noticia</h4>
						<p>iodsaoihsduihs</p>
					</li>
					<li>
						<img src="img/thumb-pequena.jpg" alt="">
						<h4>titulo da noticia</h4>
						<p>iodsaoihsduihs</p>
					</li>
				</ul>	
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="linha">
			<footer>
				<div class="coluna col12">
					<span>&copy; 2014 - gabriel</span>
				</div>
			</footer>
		</div>
	</div>
</body>
</html>