<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8"/>
	<title>Imagine Camping e Eventos | Eventos </title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/normalizecss.css')}}">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/estilo.css')}}">
</head>
</head>
<body>
	<div class="header">
		<div class="linha">
			<header>
				<div class="coluna col4">
					<a href="/">
					<img src="../static/img/imaginelogo.jpg" class="logo"></a>
				</div>	
				<div class="coluna col8">
					<nav>
						<ul class="menu inline sem-marcador">
							<li><a href="/">HOME</a></li>
							<li><a href="eventos">Eventos</a></li>
							<li><a href="estrutura">Estrutura</a></li>
							<li><a href="sobre">Sobre</a> </li>
							<li><a href="contato">contato</a></li>
						</ul>
					</nav>
				</div>	
			</header>
		</div>	
	</div>	
	<div class="linha">
		<section>
			<h2>Próximos Eventos!!</h2>
			<div class="coluna col5">
				<h3>Festival de Inverno Campista?!</h3>
				<img src="static/img/FIC.jpeg" alt="fic" style="width: 400px;height: 450px;">
			</div>
			<div class="coluna col7">
				<h3><strong> A FIC vem aíí!!!!</strong><br></h3>
				<p> Nosso proximo evento realizado em nossa estrutura será a FIC, será realizada no mes de junho, o festival de inverno campinas, organizado pelo pessoal do União Campista, será realizado entre os dias 05 até 09 de Julho, contará com diversos shows com DJs, monitores, brinquedos para a criançada, ainda acenderemos uma fogueira para esquentar a noite e continuar no clima de festa junina, teremos ainda sorteios e brindes durante o evento!!!<br></p>
				<p>Para fazer a inscrição acesse o Link abaixo e preencha o formulário!!<br>
					(Link)<br>
				Aguardamos voces para passar mais um evento conosco o melhor camping de Louveira, qualquer dúvida entre em contato conosco, ou com o pessoal da União Campista!
				</p>
			</div>
		</section>
		<section>	
			<div class="coluna col12">
				<h2>Nossos Últimos Eventos!!</h2>
				<h4>Evento de Pascoa</h4>
				<img src="img/thumb-grande.jpg" alt=""/>
				<p>Um evento repleto de pessoas de todas as idades onde puderam nos visitar, e curtir o feriado da melhor forma possível, teve familias e grupos que esconderam os ovos pelo nosso camping para a criançada ir a caça, recebemos cerca de 200 pessoas.</p>
			</div>
			<div class="coluna col6">
				<h4>Carnaval no Imagine!!</h4>
				<img src="img/thumb-grande.jpg" alt=""/>
				<p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX<br>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
			</div>
			<div class="coluna col4">
				<h4>Ano Novo, Feliz 2019!</h4>
				<img src="img/thumb-grande.jpg" alt=""/>
				<p>A virada de Ano no nosso Camping foi bem animada, juntamos muitas pessoas pra ceiarmos todos juntos, bela reunião de todo o pessoal, contamos com uma bela ceia preparada, brindamos com taças exclusivas do camping a meia noite, ao mesmo tempo que okhavamos os fogos do nosso plato principal com vista privilegiada dos fogos!!!<br>Nós do Imagine Camping desejamos um ótimo 2019 para todos nossos colegas, amigos, clientes e ajudantes!! </p>
			</div>
			<div class="coluna col4">
				<h4>Evento XXXXXXX</h4>
				<img src="img/thumb-grande.jpg" alt=""/>
				<p> xxxxxxxxxxxxxxxxxxxx</p>
			</div>	
				<!--<div class="coluna col4">
				<h4>Nome da Empresa 5</h4>
				<img src="img/thumb-grande.jpg" alt=""/>
				<p> oidsohiadsoidsiohdsihsioasd</p>
			</div>	
				<div class="coluna col4">
				<h4>Nome da Empresa 6</h4>
				<img src="img/thumb-grande.jpg" alt=""/>
				<p> oidsohiadsoidsiohdsihsioasd</p>
			</div>
			<div class="coluna col4">
				<h4>Nome da Empresa 7</h4>
				<img src="img/thumb-grande.jpg" alt=""/>
				<p> oidsohiadsoidsiohdsihsioasd</p>
			</div>	
			<div class="coluna col4">
				<h4>Nome da Empresa 8</h4>
				<img src="img/thumb-grande.jpg" alt=""/>
				<p> oidsohiadsoidsiohdsihsioasd</p>
			</div>-->
			</div>
		</section>
	</div>	
	<div class="conteudo-extra">
		<div class="linha">
			<div class="coluna col7">
				<section>
					<h2>Tem interesse em realizar um Evento com a gente??</h2>
					<p>Entre em contato conosco!!<br></p>
					<p>Realizamos, desde acamapamento de igrejas, aluguel do campo,<br></p>
					<p>evento de carros, reuniões de grupos de campista,<br></p>
					<p>show de stand up, venha com a ideia que realizamos!!</p>
				</section>
			</div>
			<div class="coluna col5">
				<h2>Informações e reservas:</h2>
				<ul class="sem-marcador sem-padding noticias">
					<li>
						<!--<img src="img/thumb-pequena.jpg" alt="">-->
						<h4>Reservas por telefone:</h4>
						<p>(19) 99718-9374 (VIVO)</p>
					</li>
					<li>
						<!--<img src="img/thumb-pequena.jpg" alt="">-->
						<h4>Localização:</h4>
						<p>Rua Vereador Jose antonio Nicola Argentieri, 406, Ponte Preta, Louveira - SP</p>
					</li>
					<li>
						<!--<img src="img/thumb-pequena.jpg" alt="">-->
						<h4>Reservas por Email:</h4>
						<p>campingeeventosimagine@gmail.com</p>
					</li>
				</ul>	
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="linha">
			<footer>
				<div class="coluna col12">
					<span>&copy; 2014 - gabriel</span>
				</div>
			</footer>
		</div>
	</div>
</body>
</html>