<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8"/>
	<title>Imagine Camping e Eventos</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/normalizecss.css')}}">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/estilo.css')}}">
</head>
<body>
	<div class="header">
		<div class="linha">
			<header>
				<div class="coluna col4">
					<a href="/">
					<img src="../static/img/imaginelogo.jpg" class="logo"></a>
					<!--<h1 class="logo"></h1>-->
				</div>	
				<div class="coluna col8">	
					<nav>
						<ul class="menu inline sem-marcador">
							<li><a href="/">HOME</a></li>
							<li><a href="eventos">Eventos</a></li>
							<li><a href="estrutura">Estrutura</a></li>
							<li><a href="sobre">Sobre</a> </li>
							<li><a href="contato">contato</a></li>
						</ul>
					</nav>
				</div>	
			</header>
		</div>	
	</div>	
	<div class="linha">
		<section>
			<div class="coluna col3 sidebar">
				<h3>Últimos Eventos realizados conosco!!</h3>
				<ul class="sem-marcador sem-padding">
					<li><a href="eventos"><h3><strong>Páscoa</strong></h3></a></li>
					<li><a href="eventos"><h3><strong>Ano Novo</strong></h3></a></li>
					<li><a href="eventos"><h3><strong>Carnaval</strong></h3></a></li>
				</ul>
				<a href="eventos" class="botao">Ver todos &raquo;</a>
			</div>
			<div class="coluna col9">
				<h2>Bem Vindos ao <em>Imagine Camping e Eventos</em></h2>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/VmjaWFMhUPs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				<!--<img src="img/thumb-grande.jpg" alt="imagem do Camping"/> !-->
				<h3>Imagine Camping e Eventos, o lugar ideal para acampar ou realizar seu evento em Louveira - SP</h3><p>Localizado a cerca de 30 minutos da cidade de São Paulo capital, o nosso Camping conta com uma área de aproximadamente 52.000 m² sendo bem distribúídas entre áreas para barracas, estacionamento para MotorHomes e Trailers, piscinas ( 3 no total sendo duas grandes uma com toboágua e uma infantil ), campo de futebol gramado, quadra de futsal, quadra de tenis, restaurante, cozinha comunitaria, alojamentos para acampamentos, suítes, arvores frutíferas, entres tantas outras coisas que somente visitando para conhecer hahaha.</p>
				<a href="estrutura" class="botao">Conheça nossa estrutura! &raquo;</a>
			</div>
		</section>
	</div>	
	<div class="conteudo-extra">
		<div class="linha">
			<div class="coluna col7">
				<section>
					<h3>Precisa de um lugar para deixar seu MotorHome?</h3>
					<p>Caso precise viajar, ou não tenha onde deixar o seu veículo recreação,<br>
					entre em contato conosco, nós aceitamos seu veículo com total segurança</p>
					
				</section>
			</div>
			<div class="coluna col5">
				<h2>Informações e reservas:</h2>
				<ul class="sem-marcador sem-padding noticias">
					<li>
						<!--<img src="img/thumb-pequena.jpg" alt="">-->
						<h4>Reservas por telefone:</h4>
						<p>(19) 99718-9374 (VIVO)</p>
					</li>
					<li>
						<!--<img src="img/thumb-pequena.jpg" alt="">-->
						<h4>Localização:</h4>
						<p>Rua Vereador Jose antonio Nicola Argentieri, 406, Ponte Preta, Louveira - SP</p>
					</li>
					<li>
						<!--<img src="img/thumb-pequena.jpg" alt="">-->
						<h4>Reservas por Email:</h4>
						<p>campingeeventosimagine@gmail.com</p>
					</li>
				</ul>	
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="linha">
			<footer>
				<div class="coluna col12">
					<span>&copy; 2019 - Gabriel</span>
				</div>
			</footer>
		</div>
	</div>
</body>
</html>